@charset "utf-8";

@import "normalize";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap');

$red: #ec2027;
$container-width: 600px;

$ws-sm: 5px;
$ws-md: 10px;
$ws-lg: 20px;
$ws-xl: 40px;

body {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
}

main {
  padding-bottom: 100px;
}

hr {
  border-style: dotted;
  border-width: 4px 0 0;
}

li {
  padding: $ws-md 0;
}

.uppercase {
  text-transform: uppercase;
}

.strong {
  font-weight: bold;
}

.medium {
  font-weight: 600;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $ws-lg;
}

.inverse {
  background: $red;
  color: white;
}

.full-width {
  width: 100%;
}

h1 {
  color: $red;
}

h2 {
  font-size: 28px;
}

p {
  line-height: 1.4;
}

ul.light {
  font-size: 18px;
}

.header {
  display: flex;
  align-items: center;
  font-size: 18px;
  max-width: $container-width;
  margin: auto;
  padding: $ws-lg;
  h1 {
    font-size: 34px;
  }
}

.footer {
  text-align: center;
  padding-bottom: 40px;
}

.logo {
  max-width: 100px;
}

.text-center {
  text-align: center;
}

.message p {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  em {
    color: $red;
    font-style: normal;
  }
}

a {
  color: $red;
  font-weight: bold;
}

.btn {
  $height: 40px;
  background: $red;
  border-radius: $height;
  color: white;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: $height;
  &:hover {
    background: lighten($red, 10%);
  }
  &:active {
    background: $red;
  }
}

$spacing-map: (
  n: 0,
  s: $ws-sm,
  m: $ws-md,
  l: $ws-lg,
  xl: $ws-xl
);

@mixin ws($responsive-size: '') {
  @each $size, $spacing in ($spacing-map) {
    .ma#{$size}#{$responsive-size} {
      margin: $spacing !important;
    }
    .mv#{$size}#{$responsive-size} {
      margin-top: $spacing !important;
      margin-bottom: $spacing !important;
    }
    .mh#{$size}#{$responsive-size} {
      margin-left: $spacing !important;
      margin-right: $spacing !important;
    }
    .mha#{$responsive-size} {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .mt#{$size}#{$responsive-size} {
      margin-top: $spacing !important;
    }
    .ml#{$size}#{$responsive-size} {
      margin-left: $spacing !important;
    }
    .mb#{$size}#{$responsive-size} {
      margin-bottom: $spacing !important;
    }
    .mr#{$size}#{$responsive-size} {
      margin-right: $spacing !important;
    }

    .pa#{$size}#{$responsive-size} {
      padding: $spacing !important;
    }
    .pv#{$size}#{$responsive-size} {
      padding-top: $spacing !important;
      padding-bottom: $spacing !important;
    }
    .ph#{$size}#{$responsive-size} {
      padding-left: $spacing !important;
      padding-right: $spacing !important;
    }
    .pt#{$size}#{$responsive-size} {
      padding-top: $spacing !important;
    }
    .pl#{$size}#{$responsive-size} {
      padding-left: $spacing !important;
    }
    .pb#{$size}#{$responsive-size} {
      padding-bottom: $spacing !important;
    }
    .pr#{$size}#{$responsive-size} {
      padding-right: $spacing !important;
    }
  }
}

@include ws;
